:css
  .flex-container {
    display: flex;
    justify-content: space-around;
  }

%div.container
  %h1 Welcome flex
  %div.flex-container
    %div.flex-item#test1
      %p 1
    %div.flex-item#test2
      %p 2

